<%- include ../include/head %>
<%- include ../include/header %>
<div data-am-scrollspy="{ animation: 'slide-left'}">
<!-- 招聘内容 -->
<div class="am-margin-sm">
    <h1 class="am-text-center" ><%= heading %></h1>
</div>  <!-- 标题 end -->
<div class="am-g am-cf ">  
    <div class="am-u-sm-4 am-text-right">
      <small><span class="am-text">作者：<small><%= autor %></small></span></small>
    </div>
    <div class="am-u-sm-8 am-text-left">
      <small><span>发布时间：&nbsp;<small><%= time %></small></span></small>
    </div>
</div>
<br>
<article data-am-widget="paragraph" class="am-paragraph am-paragraph-default" data-am-paragraph="{ tableScrollable: true, pureview: true }"">

	<div class="am-g">
	<h3>需求说明</h3>
	<br>
    <% content.forEach(function(content){ %>
   
          <div class="am-u-sm-4 am-text-right" style="padding-right:1rem;">
          	<%=  content.name %>:
          </div>
          <div class="am-u-sm-8" style="padding-left:0;">
          	<%=  content.value %>
          </div>
          
    <% }) %>
    </div>
    <br>
	<div class="am-g">
		<h3>投递方式</h3>
		<br>
		<div class="am-u-sm-3">
          	联系人:
        </div>
        <div class="am-u-sm-9" style="padding-left:0;">
          	<%=  contact.people %>
        </div>
		<div class="am-u-sm-3">
          	电话:
        </div>
        <div class="am-u-sm-9" style="padding-left:0;">
          	<%=  contact.tel %>
        </div>
		<div class="am-u-sm-3">
          	邮箱:
        </div>
        <div class="am-u-sm-9" style="padding-left:0;">
          	<%=  contact.email %>
        </div>                
	</div>
 </article>
 </div>
<!-- 文章内容 end -->
<%- include ../include/footer %>
<%- include ../include/foot %>